*,
::before,
::after {
  box-sizing: border-box;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  line-height: inherit;
  background-color: #121212;
  background-image: radial-gradient(
      circle at center,
      #00000022,
      #00000044,
      #000000aa
    ),
    linear-gradient(to top right, #f0f, #a0f, #05f, #0fa);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 2rem 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
#bg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  overflow: hidden;
  border: 0.25rem double #ffffff1a;
  border-radius: 9999px;
  width: 110vw;
  height: 110vw;
  background-image: linear-gradient(to bottom, #ffffff1a, #3377991a, #4755690d);
  transform: translate(-50%, -50%);
}
@media (min-width: 40rem) {
  #bg {
    width: 90vw;
    height: 90vw;
  }
}
section {
  text-align: center;
}
footer {
  position: absolute;
  width: 16rem;
  bottom: 4rem;
  left: calc(50% - 8rem);
  text-align: center;
  z-index: 2;
}
@media (max-height: 25rem) {
  footer {
    bottom: 2.5rem;
  }
}
footer p {
  margin: 0;
}
h2,
p {
  margin: 1rem 0;
}
h2 {
  line-height: 1.25;
  font-size: 2rem;
  font-weight: 300;
}
p.s {
  font-weight: 500;
}
#schedule {
  color: #fff;
}
.btn,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  border-width: 1px;
  border-style: solid;
  outline: none;
  text-decoration: none;
  user-select: none;
  margin: 1rem auto;
  color: #e6e6e6;
  border-color: #e6e6e6;
  background-color: #121a1a44;
  border-radius: 2rem;
  padding: 0.5rem;
  transition: all 0.1s;
  text-align: center;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  color: #fff;
  border-color: #fff;
  background-color: #272a2a;
  transform: scale(1.05);
}
svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}
audio {
  display: none;
  margin: 0;
}
