#loader {
  position: absolute;
  top: calc(50% - 44vw);
  left: calc(50% - 44vw);
  margin: 0 auto;
  border-bottom: 0.25rem solid #ffffff88;
  border-right: 0.25rem solid #ffffff77;
  border-top: 0.25rem solid #ffffff66;
  border-left: 0.25rem solid #ffffff55;
  border-radius: 50%;
  width: 88vw;
  height: 88vw;
  transition: all 0.1s;
  animation: breathe 8s linear infinite, flicker 4s linear infinite;
}
@media (min-width: 40rem) {
  #loader {
    top: calc(50% - 32vw);
    left: calc(50% - 32vw);
    width: 64vw;
    height: 64vw;
  }
}
@keyframes breathe {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.9) rotate(180deg);
    opacity: 0.9;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    border-bottom-color: #ffffffcc;
    border-right-color: #ffffffaa;
    border-top-color: #ffffff77;
    border-left-color: #ffffff44;
  }
  25% {
    border-right-color: #ffffffee;
    border-bottom-color: #ffffffcc;
    border-top-color: #ffffff77;
    border-left-color: #ffffff44;
  }
  50% {
    border-top-color: #ffffffee;
    border-bottom-color: #ffffffcc;
    border-right-color: #ffffffaa;
    border-left-color: #ffffff44;
  }
  75% {
    border-left-color: #ffffffee;
    border-bottom-color: #ffffffcc;
    border-right-color: #ffffffaa;
    border-top-color: #ffffff77;
  }
  100% {
    border-bottom-color: #ffffffee;
    border-right-color: #ffffffaa;
    border-top-color: #ffffff77;
    border-left-color: #ffffff44;
  }
}
